services:
  DataBase_ElYunke:
    image: postgres:18
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${PASSWORD_DB}
      POSTGRES_DB: ${NAME_DB}
      POSTGRES_USER: ${USERNAME_DB}
    ports:
      - "${PORT_DB:-5432}:5432"
    volumes:
      - ./db:/var/lib/postgresql/18/docker
