services:
  DataBase_ElYunke:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_PASSWORD: ${PASSWORD_DB}
      MYSQL_ROOT_PASSWORD: ${PASSWORD_DB}
      MYSQL_DATABASE: ${NAME_DB}
      MYSQL_USER: ${USERNAME_DB}
    ports:
      - "${PORT_DB:-3306}:3306"
    volumes:
      - ./db/data:/var/lib/mysql
